<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg?w=740&t=st=1669355156~exp=1669355756~hmac=04e3d4ddd2fa0aee49608ff98d153b97b47146418eebaa86976fc678960ca55b" alt="404 pages" >
</body>
</html>